# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Schedule-Exam-BK\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
